@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700,900&subset=latin,cyrillic);
/*font-family: 'Open Sans', sans-serif;*/

@font-face {
    font-family: 'museo_cyrl_500regular';
    src: url('../fonts/museocyrillic_500_cyrillic/MuseoCyrl_500-webfont.eot');
    src: url('../fonts/museocyrillic_500_cyrillic/MuseoCyrl_500-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/museocyrillic_500_cyrillic/MuseoCyrl_500-webfont.woff') format('woff'),
    url('../fonts/museocyrillic_500_cyrillic/MuseoCyrl_500-webfont.ttf') format('truetype'),
    url('../fonts/museocyrillic_500_cyrillic/MuseoCyrl_500-webfont.svg#museo_cyrl_500regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble/rouble-webfont.eot');
    src: url('../fonts/rouble/rouble-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rouble/rouble-webfont.woff') format('woff'),
    url('../fonts/rouble/rouble-webfont.ttf') format('truetype'),
    url('../fonts/rouble/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.rub{
    font-family: 'als_rublregular';
}

@import "modules/base";
@import "modules/reset";
@import "modules/grid";
@import "modules/icons";
@import "modules/b-header";
@import "modules/b-footer";
@import "modules/b-topnav";
@import "modules/pr";
@import "modules/b-page";
@import "modules/b-text";
@import "modules/b-widget";
@import "modules/b-wmenu";
@import "modules/b-created";
@import "modules/b-objects";
@import "modules/b-paging";
@import "modules/b-lmenu";
@import "modules/b-promo";
@import "modules/b-compare";
@import "modules/ctable";
@import "modules/b-islider";
@import "modules/jquery.jscrollpane";
@import "modules/b-tab";
@import "modules/b-form";
@import "modules/b-features";
@import "modules/b-imenu";
@import "modules/b-catalog";
@import "modules/cl-popup";
@import "modules/b-filter";
@import "modules/b-mainc";
@import "modules/b-popup";
@import "modules/b-video";
@import "modules/b-breadcrumb";
@import "modules/b-item";
@import "modules/b-services";

