        <a class="pr-top scroll-top" href="#top"><span class="pr-top__text">вверх</span></a>
        <footer class="b-footer">
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <img class="b-footer__logo" src="images/logo.svg" alt="РПС"/>
                    </div>
                    <div class="span6">
                        <div class="b-footer__copyrights">&copy; 2014 Все права защищены. Продажа электростанций в СПб.</div>
                        <ul class="b-footer__menu">
                            <li class="b-footer__menu-item"><a href="index.html">Главная</a></li>
                            <li class="b-footer__menu-item"><a href="#">Контакты</a></li>
                            <li class="b-footer__menu-item"><a href="#">Сравнение моделей</a></li>
                            <li class="b-footer__menu-item"><a href="#">Онлайн заказ</a></li>
                        </ul>
                    </div>
                    <div class="span4">
                        @@include('blocks/_b-created.html')
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>