<div class="b-lmenu">
    <div class="container">
        <div class="row">
            <ul class="b-lmenu__list">
                <li class="b-lmenu__item">
                    <a class="b-lmenu__mlink b-lmenu__mlink_first" href="#">
                        <i class="icon-1 b-lmenu__micon"></i>
                        Каталог оборудования
                    </a>
                    <ul class="b-lmenu__sub">
                        <li class="b-lmenu__sub-item"><a href="#">Корпоративные объекты</a></li>
                        <li class="b-lmenu__sub-item"><a href="#">Частные объекты</a></li>
                    </ul>
                </li>
                <li class="b-lmenu__item">
                    <a class="b-lmenu__mlink" href="#">
                        <i class="icon-2 b-lmenu__micon"></i>
                        Выполненные работы
                    </a>
                    <ul class="b-lmenu__sub">
                        <li class="b-lmenu__sub-item"><a href="#">Корпоративные объекты</a></li>
                        <li class="b-lmenu__sub-item"><a href="#">Частные объекты</a></li>
                    </ul>
                </li>
                <li class="b-lmenu__item">
                    <a class="b-lmenu__mlink" href="#">
                        <i class="icon-3 b-lmenu__micon"></i>
                        Услуги
                    </a>
                    <ul class="b-lmenu__sub">
                        <li class="b-lmenu__sub-item"><a href="#">Корпоративные объекты</a></li>
                        <li class="b-lmenu__sub-item"><a href="#">Частные объекты</a></li>
                    </ul>
                </li>
                <li class="b-lmenu__item">
                    <a class="b-lmenu__mlink" href="#">
                        <i class="icon-4 b-lmenu__micon"></i>
                        контакты
                    </a>
                    <ul class="b-lmenu__sub">
                        <li class="b-lmenu__sub-item"><a href="#">Корпоративные объекты</a></li>
                        <li class="b-lmenu__sub-item"><a href="#">Частные объекты</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>