<div class="b-widget">
    <h3 class="b-widget__title">Продукция</h3>
    <ul class="b-wmenu">
        <li class="b-wmenu__item"><a href="#">Каталог</a></li>
        <li class="b-wmenu__item b-wmenu__item_current">
            <a href="#">Дополнительное оборудование</a>
            <ul class="b-wmenu__sub">
                <li class="b-wmenu__item b-wmenu__item_current"><a href="#">Автоматика</a></li>
                <li class="b-wmenu__item"><a href="#">Подогревы</a></li>
                <li class="b-wmenu__item"><a href="#">GSM</a></li>
                <li class="b-wmenu__item"><a href="#">Звукоизоляция</a></li>
                <li class="b-wmenu__item"><a href="#">Дополнительные аксессуары</a></li>
            </ul>
        </li>
    </ul>
</div>