@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="row">
            <aside class="span3">
                @@include('blocks/_widget-menu.html')
            </aside>
            <div class="span9">
                <h1 class="b-page__title">Дополнительное оборудование</h1>

                <div class="b-text">
                    <!-- additionals -->
                    <div class="pr-additionals">
                        <div class="row">
                            <div class="span5">
                                <img src="images/content/img1_custom-size.jpg" alt="image alt text"/>
                            </div>
                            <div class="span7">
                                <h2>GSM-оборудование</h2>

                                <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание
                                    движется с постоянным ускорением, ПИГ не зависит от скорости вращения
                                    <a href="#custom_link">внутреннего кольца подвеса,</a> что не кажется странным, если
                                    вспомнить о том, что мы не исключили из рассмотрения </p>
                            </div>
                        </div>
                    </div>
                    <!-- end additionals -->
                    <!-- additionals -->
                    <div class="pr-additionals">
                        <div class="row">
                            <div class="span7">
                                <h2>Дополнительные аксессуары</h2>

                                <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание
                                    движется с постоянным ускорением, ПИГ не зависит от скорости вращения
                                    <a href="#custom_link">внутреннего кольца подвеса,</a> что не кажется странным, если
                                    вспомнить о том, что мы не исключили из рассмотрения </p>
                            </div>
                            <div class="span5">
                                <img src="images/content/img2_custom-size.jpg" alt="image alt text"/>
                            </div>
                        </div>
                    </div>
                    <!-- end additionals -->
                    <!-- additionals -->
                    <div class="pr-additionals">
                        <div class="row">
                            <div class="span5">
                                <img src="images/content/img3_custom-size.jpg" alt="image alt text"/>
                            </div>
                            <div class="span7">
                                <h2>Звукоизоляция</h2>

                                <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание
                                    движется с постоянным ускорением, ПИГ не зависит от скорости вращения
                                    <a href="#custom_link">внутреннего кольца подвеса,</a> что не кажется странным, если
                                    вспомнить о том, что мы не исключили из рассмотрения </p>
                            </div>
                        </div>
                    </div>
                    <!-- end additionals -->
                    <!-- additionals -->
                    <div class="pr-additionals">
                        <div class="row">
                            <div class="span7">
                                <h2>Подогрев</h2>

                                <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание
                                    движется с постоянным ускорением, ПИГ не зависит от скорости вращения
                                    <a href="#custom_link">внутреннего кольца подвеса,</a> что не кажется странным, если
                                    вспомнить о том, что мы не исключили из рассмотрения </p>
                            </div>
                            <div class="span5">
                                <img src="images/content/img4_custom-size.jpg" alt="image alt text"/>
                            </div>
                        </div>
                    </div>
                    <!-- end additionals -->
                    <!-- additionals -->
                    <div class="pr-additionals">
                        <div class="row">
                            <div class="span5">
                                <img src="images/content/img5_custom-size.jpg" alt="image alt text"/>
                            </div>
                            <div class="span7">
                                <h2>Автоматика</h2>

                                <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание
                                    движется с постоянным ускорением, ПИГ не зависит от скорости вращения
                                    <a href="#custom_link">внутреннего кольца подвеса,</a> что не кажется странным, если
                                    вспомнить о том, что мы не исключили из рассмотрения </p>
                            </div>
                        </div>
                    </div>
                    <!-- end additionals -->
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')