@@include('blocks/_b-header.html')
<div class="pr-content">
<div class="container">
<h1 class="b-page__title">Сравнение электростанций</h1>

<div class="b-compare__header">
    <table class="b-compare__h-table">
        <tr>
            <td>
                <div class="b-compare__switch">
                    <button data-action="all" class="b-compare__switch-btn active"><span
                            class="bordered">Все параметры</span></button>
                    <button data-action="diff" class="b-compare__switch-btn"><span class="bordered">Различающиеся</span>
                    </button>
                </div>
            </td>
            <td>
                <div class="b-compare__h-item">
                    <img src="images/content/compare-item-img.jpg" alt="Geko 60003 ED-S/DEDA"/>

                    <h2 class="title"><a href="item.html">Geko 60003 ED-S/DEDA</a></h2>
                    <a class="delbottom" href="#delitem" title="Удалить товар">Удалить</a>
                    <a class="deltop" href="#delitem" title="Удалить товар">Удалить</a>
                </div>
            </td>
            <td>
                <div class="b-compare__h-item">
                    <img src="images/content/compare-item-img.jpg" alt="Geko 60003 ED-S/DEDA"/>

                    <h2 class="title"><a href="item.html">Geko 60003 ED-S/DEDA</a></h2>
                    <a class="delbottom" href="#delitem" title="Удалить товар">Удалить</a>
                    <a class="deltop" href="#delitem" title="Удалить товар">Удалить</a>
                </div>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Электростанция</h3>
    <table class="ctable b-compare__table">
        <tr>
            <td class="ctable__hassub" colspan="4">
                Мощность
                <table class="ctable__sub">
                    <tr>
                        <td>Основная</td>
                        <td class="tocompare">48 кВт</td>
                        <td class="tocompare">48 кВт</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>Выходное напряжение</td>
            <td class="tocompare">220/380 В</td>
            <td class="tocompare">220/380 В</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Частота тока</td>
            <td class="tocompare">50 Гц</td>
            <td class="tocompare">50 Гц</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="ctable__hassub" colspan="4">
                Уровень шума
                <table class="ctable__sub">
                    <tr>
                        <td>открытая на раме</td>
                        <td class="tocompare">93 дБ(А)</td>
                        <td class="tocompare">93 дБ(А)</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>в шумопоглощающем капоте</td>
                        <td class="tocompare">64 дБ(А)</td>
                        <td class="tocompare">64 дБ(А)</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="ctable__hassub" colspan="4">
                Расход топлива
                <table class="ctable__sub">
                    <tr>
                        <td>при нагрузке 75%</td>
                        <td class="tocompare">10,8 л/час</td>
                        <td class="tocompare">10,8 л/час</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>при нагрузке 100%</td>
                        <td class="tocompare">14,1 л/час</td>
                        <td class="tocompare">14,1 л/час</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Двигатель</h3>
    <table class="ctable b-compare__table">
        <tr>
            <td>Двигатель</td>
            <td class="tocompare">Deutz BF4M2012</td>
            <td class="tocompare">Deutz BF4M2012</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Мощность двигателя</td>
            <td class="tocompare">54 кВт</td>
            <td class="tocompare">54 кВт</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Количество цилиндров/расположение</td>
            <td class="tocompare">4/рядное</td>
            <td class="tocompare">4/рядное</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Частота вращения</td>
            <td class="tocompare">1500 об/мин</td>
            <td class="tocompare">1500 об/мин</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Регулятор оборотов</td>
            <td class="tocompare">механический</td>
            <td class="tocompare">механический</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Охлаждение</td>
            <td class="tocompare">масло</td>
            <td class="tocompare">масло</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare b-compare__table">
    <h3 class="b-compare__title">Генератор</h3>
    <table class="ctable">
        <tr>
            <td>Тип генератора</td>
            <td class="tocompare">синхронный</td>
            <td class="tocompare">синхронный</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Стабильность выходного напряжения</td>
            <td class="tocompare">не хуже ±1%</td>
            <td class="tocompare">не хуже ±2%</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>Охлаждение</td>
            <td class="tocompare">воздух</td>
            <td class="tocompare">воздух</td>
            <td>&nbsp;</td>
        </tr>
    </table>
</div>
<div class="b-compare">
    <h3 class="b-compare__title">Эксплуатационные характеристики</h3>
    <table class="ctable b-compare__table">
        <tr>
            <td class="ctable__hassub">
                Габариты
                <table class="ctable__sub">
                    <tr>
                        <td>открытая на раме</td>
                        <td class="tocompare">1880x930x1360 мм</td>
                        <td class="tocompare">1880x930x1360 мм</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>в шумопоглощающем капоте</td>
                        <td class="tocompare">2600x1100x1310 мм</td>
                        <td class="tocompare">2500x1100x1310 мм</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="ctable__hassub">
                Масса
                <table class="ctable__sub">
                    <tr>
                        <td>открытая на раме</td>
                        <td class="tocompare">695 кг</td>
                        <td class="tocompare">700 кг</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>в шумопоглощающем капоте</td>
                        <td class="tocompare">1220 кг</td>
                        <td class="tocompare">1220 кг</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td class="ctable__hassub">
                Емкость топливного бака
                <table class="ctable__sub">
                    <tr>
                        <td>открытая на раме</td>
                        <td class="tocompare">170 л</td>
                        <td class="tocompare">170 л</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>в шумопоглощающем капоте</td>
                        <td class="tocompare">117 л</td>
                        <td class="tocompare">117 л</td>
                        <td>&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</div>
</div>
@@include('blocks/_b-footer.html')
</body>
</html>