@@include('blocks/_b-header.html')
    <div id="scroll">
        <div class="scroll-item section">
            <div class="container">
                <div class="b-breadcrumb">
                    <ul>
                        <li><a href="#">Карта сайта</a></li>
                        <li><a href="#">Каталог товаров</a></li>
                        <li><a href="#">Дизельные электростанции в звукоизолирующем корпусе</a></li>
                    </ul>
                </div>
                <h1 class="b-item__title">Geko 60010 ED-S/DEDA S <img src="images/content/item-title-logo.png" alt="Geko"/> <img src="images/content/item-title-logo2.png" alt="RPS"/></h1>
            </div>
            <div class="b-item__d-line">
                <div class="container">
                    <ul>
                        <li>Двигатель: <strong>Deutz F3M2011</strong></li>
                        <li>кВт: <strong>16</strong></li>
                        <li>Расход: <strong>3.9</strong> л/ч</li>
                        <li>Бак: <strong>225</strong> л</li>
                        <li>Габариты: <strong>1900x800x1200</strong> мм</li>
                        <li>Масса: <strong>780</strong> кг</li>
                    </ul>
                </div>
            </div>
            <div class="b-item__main">
                <div class="container">
                    <div class="b-tabs">
                        <ul class="b-tabs__header">
                            <li class="b-tabs__header-item current"><a class="b-tabs__header-link" href="#tab-id-1">Основные</a></li>
                            <li class="b-tabs__header-item"><a class="b-tabs__header-link" href="#tab-id-2">Электростанция</a></li>
                            <li class="b-tabs__header-item"><a class="b-tabs__header-link" href="#tab-id-3">Двигатель</a></li>
                            <li class="b-tabs__header-item"><a class="b-tabs__header-link" href="#tab-id-4">Генератор</a></li>
                            <li class="b-tabs__header-item"><a class="b-tabs__header-link" href="#tab-id-5">Характеристики</a></li>
                        </ul>
                        <div class="row b-item__main-c">
                            <div class="span6">
                                <div class="b-item__photos">
                                    <ul class="slides">
                                        <li><img src="images/content/item-photo.jpg" alt="Alt text"/></li>
                                        <li><img src="images/content/item-photo.jpg" alt="Alt text"/></li>
                                        <li><img src="images/content/item-photo.jpg" alt="Alt text"/></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="span6">
                                <div class="b-tabs__tab" id="tab-id-1" style="display:block;">
                                    <div class="b-text">
                                        <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание движется с постоянным ускорением, ПИГ не зависит от скорости вращения внутреннего кольца подвеса, что не кажется странным, если вспомнить о том, что мы не исключили из рассмотрения гравитационный установившийся режим, исходя из суммы моментов. Проекция на подвижные оси учитывает ротор, учитывая смещения </p>
                                    </div>
                                </div>
                                <div class="b-tabs__tab" id="tab-id-2">
                                    <table class="ctable">
                                        <tr>
                                            <td class="ctable__hassub" colspan="2">
                                                Мощность
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>Основная</td>
                                                        <td>48 кВт</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>Выходное напряжение</td>
                                            <td>220/380 В</td>
                                        </tr>
                                        <tr>
                                            <td>Частота тока</td>
                                            <td>50 Гц</td>
                                        </tr>
                                        <tr>
                                            <td class="ctable__hassub" colspan="2">
                                                Уровень шума
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>открытая на раме</td>
                                                        <td>93 дБ(А)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>в шумопоглощающем капоте</td>
                                                        <td>64 дБ(А)</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ctable__hassub" colspan="2">
                                                Расход топлива
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>при нагрузке 75%</td>
                                                        <td>10,8 л/час</td>
                                                    </tr>
                                                    <tr>
                                                        <td>при нагрузке 100%</td>
                                                        <td>14,1 л/час</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="b-tabs__tab" id="tab-id-3">
                                    <table class="ctable">
                                        <tr>
                                            <td>Двигатель</td>
                                            <td>Deutz BF4M2012</td>
                                        </tr>
                                        <tr>
                                            <td>Мощность двигателя</td>
                                            <td>54 кВт</td>
                                        </tr>
                                        <tr>
                                            <td>Количество цилиндров/расположение</td>
                                            <td>4/рядное</td>
                                        </tr>
                                        <tr>
                                            <td>Частота вращения</td>
                                            <td>1500 об/мин</td>
                                        </tr>
                                        <tr>
                                            <td>Регулятор оборотов</td>
                                            <td>механический</td>
                                        </tr>
                                        <tr>
                                            <td>Охлаждение</td>
                                            <td>масло</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="b-tabs__tab" id="tab-id-4">
                                    <table class="ctable">
                                        <tr>
                                            <td>Тип генератора</td>
                                            <td>синхронный</td>
                                        </tr>
                                        <tr>
                                            <td>Стабильность выходного напряжения</td>
                                            <td>не хуже ±1%</td>
                                        </tr>
                                        <tr>
                                            <td>Охлаждение</td>
                                            <td>воздух</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="b-tabs__tab" id="tab-id-5">
                                    <table class="ctable">
                                        <tr>
                                            <td class="ctable__hassub">
                                                Габариты
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>открытая на раме</td>
                                                        <td>1880x930x1360 мм</td>
                                                    </tr>
                                                    <tr>
                                                        <td>в шумопоглощающем капоте</td>
                                                        <td>2600x1100x1310 мм</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ctable__hassub">
                                                Масса
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>открытая на раме</td>
                                                        <td>695 кг</td>
                                                    </tr>
                                                    <tr>
                                                        <td>в шумопоглощающем капоте</td>
                                                        <td>1220 кг</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="ctable__hassub">
                                                Емкость топливного бака
                                                <table class="ctable__sub">
                                                    <tr>
                                                        <td>открытая на раме</td>
                                                        <td>170 л</td>
                                                    </tr>
                                                    <tr>
                                                        <td>в шумопоглощающем капоте</td>
                                                        <td>117 л</td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="b-item__price-wrap">
                                    1 025 526<span class="rub">a</span>
                                    <span class="pr-help"><span class="pr-help__text">Цена с условием установки и запуска</span></span>
                                </div>
                                <div class="b-item__buyit">
                                    <button class="pr-button b-item__buyit-btn">Заказать эту модель</button>
                                    <!--<a class="b-item__buyit-link" href="#">Добавить к сравнению</a>-->
                                    <a class="b-item__buyit-link" href="#">Удалить из сравнения</a><button class="b-item__buyit-compare">Сравнить<sup>10</sup></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-item section">
            <div class="container">
                <div class="b-services">
                    <h2 class="b-services__title">Дополнительное оборудование</h2>

                    <div class="row">
                        <div class="span6">
                            <img data-img="1" class="b-services__image" src="images/content/img3_custom-size.jpg" alt="Alt text" style="display:block;"/>
                            <img data-img="2" class="b-services__image" src="images/content/img6_custom-size.jpg" alt="Alt text"/>
                            <img data-img="3" class="b-services__image" src="images/content/img3_custom-size.jpg" alt="Alt text"/>
                            <img data-img="4" class="b-services__image" src="images/content/img6_custom-size.jpg" alt="Alt text"/>
                            <div class="b-services__buy">
                                <button class="pr-button">Заказать эту модель</button>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="b-services__item current"  data-img="1">
                                <div class="b-services__item-icon icon-22"></div>
                                <h2 class="b-services__item-title">Автоматика</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом </p>
                                </div>
                            </div>
                            <div class="b-services__item" data-img="2">
                                <div class="b-services__item-icon  icon-25"></div>
                                <h2 class="b-services__item-title">Подогревы</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом </p>
                                </div>
                            </div>
                            <div class="b-services__item" data-img="3">
                                <div class="b-services__item-icon  icon-26"></div>
                                <h2 class="b-services__item-title">GSM–оборудование</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом </p>
                                </div>
                            </div>
                            <div class="b-services__item" data-img="4">
                                <div class="b-services__item-icon icon-21"></div>
                                <h2 class="b-services__item-title">Звукоизоляция</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll-item section">
            <div class="container">
                <div class="b-services">
                    <h2 class="b-services__title">Смежные услуги</h2>

                    <div class="row">
                        <div class="span6">
                            <img data-img="1" class="b-services__image" src="images/content/img3_custom-size.jpg" alt="Alt text" style="display:block;"/>
                            <img data-img="2" class="b-services__image" src="images/content/img6_custom-size.jpg" alt="Alt text"/>
                            <img data-img="3" class="b-services__image" src="images/content/img3_custom-size.jpg" alt="Alt text"/>
                            <div class="b-services__buy">
                                <button class="pr-button">Заказать эту модель</button>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="b-services__item current" data-img="1">
                                <div class="b-services__item-icon icon-22"></div>
                                <h2 class="b-services__item-title">Продажа</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует момент, перейдя к исследованию </p>
                                </div>
                            </div>
                            <div class="b-services__item" data-img="2">
                                <div class="b-services__item-icon  icon-25"></div>
                                <h2 class="b-services__item-title">Установка и Монтаж</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует момент, перейдя к исследованию </p>
                                </div>
                            </div>
                            <div class="b-services__item" data-img="3">
                                <div class="b-services__item-icon  icon-26"></div>
                                <h2 class="b-services__item-title">Сервис и Обслуживание</h2>
                                <div class="b-services__item-content">
                                    <p>Внешнее кольцо астатично. Угловая скорость позволяет пренебречь колебаниями корпуса, хотя этого в любом случае требует момент, перейдя к исследованию </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@@include('blocks/_b-footer.html')