@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="row">
            <aside class="span3">
                @@include('blocks/_b-widget-menu_other-text.html')
            </aside>
            <div class="span9">
                <h1 class="b-page__title">Объекты</h1>

                <div class="b-text">
                    <p>Систематический уход, в отличие от некоторых других случаев, мал. Если основание движется с
                        постоянным ускорением, ПИГ не зависит от скорости вращения
                        <a href="#">внутреннего кольца подвеса</a>, что не кажется странным, если вспомнить о том, что
                        мы не исключили из рассмотрения гравитационный установившийся режим,</p>
                </div>
            </div>
        </div>
        <div class="b-objects__wrap">
            <div class="row">
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">HOLCIM GROUP, Вольский завод</a>

                        <div class="b-objects__text">Систематический уход, в отличие от некоторых других случаев, мал.
                            Если основание движется с постоянным ускорением, ПИГ не зависит от
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">&laquo;Волжская Ривьера&raquo;</a>

                        <div class="b-objects__text">Скорости вращения внутреннего кольца подвеса, что не кажется
                            странным, если вспомнить о том,
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">&laquo;НТВ&raquo;</a>

                        <div class="b-objects__text">Систематический уход, в отличие от некоторых других случаев, мал.
                            Если основание движется с постоянным ускорением, ПИГ не зависит от
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">HOLCIM GROUP, Вольский завод</a>

                        <div class="b-objects__text">Систематический уход, в отличие от некоторых других случаев, мал.
                            Если основание движется с постоянным ускорением, ПИГ не зависит от
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">&laquo;Волжская Ривьера&raquo;</a>

                        <div class="b-objects__text">Скорости вращения внутреннего кольца подвеса, что не кажется
                            странным, если вспомнить о том,
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
                <div class="span4">
                    <div class="b-objects">
                        <a class="b-objects__img" href="objects_portfolio.html"><img class="grayscale"
                                                                                     src="images/content/obg2_320x180.jpg"
                                                                                     alt="&laquo;Волжская Ривьера&raquo;"/></a>
                        <a class="b-objects__title" href="objects_portfolio.html">&laquo;НТВ&raquo;</a>

                        <div class="b-objects__text">Систематический уход, в отличие от некоторых других случаев, мал.
                            Если основание движется с постоянным ускорением, ПИГ не зависит от
                        </div>
                        <div class="b-objects__adress"><strong>Адрес:</strong> Саратовская область, город Вольск, ул.
                            Цементников, д. 1.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="b-paging">
            <span class="b-paging__title">Страница 1 из 10:</span><a class="b-paging__item" href="#"
                                                                     title="Предыдущая страница">&larr;</a><a
                class="b-paging__item b-paging__item_current" href="#" title="Текущая страница">1</a><a
                class="b-paging__item" href="#">2</a><a class="b-paging__item" href="#">3</a><a class="b-paging__item"
                                                                                                href="#">4</a><a
                class="b-paging__item" href="#">5</a><a class="b-paging__item" href="#">6</a><a class="b-paging__item"
                                                                                                href="#"
                                                                                                title="Следующая страница">&rarr;</a>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')