@@include('blocks/_b-header.html')
<div class="pr-content">
    <div class="container">
        <div class="row">
            <aside class="span3">
                <div class="b-widget">
                    <h3 class="b-widget__title">Объекты</h3>
                    <ul class="b-wmenu">
                        <li class="b-wmenu__item b-wmenu__item_current"><a href="#">Все</a></li>
                        <li class="b-wmenu__item"><a href="#">Корпоративные объекты</a></li>
                        <li class="b-wmenu__item">
                            <a href="#">Частные объекты</a>
                            <ul class="b-wmenu__sub">
                                <li class="b-wmenu__item b-wmenu__item_current"><a href="#">Вольскцемент</a></li>
                                <li class="b-wmenu__item"><a href="#">Волжская ривьера</a></li>
                                <li class="b-wmenu__item"><a href="#">НТВ</a></li>
                                <li class="b-wmenu__item"><a href="#">Вольский завод</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="b-widget b-widget_item">
                    <p><em>Общая расчетная производительность по клинкеру составит 6 100 т/сутки. Режим работы
                        производства – двухсменный.</em></p>
                </div>
            </aside>
            <div class="span9">
                <h1 class="b-page__title">Реконструкция и модернизация цементного завода
                    ОАО &laquo;Вольскцемент&raquo;</h1>
                <div class="pr-shadow-block">
                    <div class="b-islider" id="sliderid">
                        <ul class="slides">
                            <li><img src="images/content/inner-slide-1.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-2.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-1.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-2.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-1.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-2.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-1.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-2.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-1.jpg" alt="Alt text"/></li>
                            <li><img src="images/content/inner-slide-2.jpg" alt="Alt text"/></li>
                        </ul>
                    </div>
                </div>
                <div class="b-islider__nav">
                    <!-- resize and crop images -->
                    <ul>
                        <li data-slide="0" data-slider="#sliderid" class="b-islider__navitem current"><img
                                class="grayscale" src="images/content/inner-slide-1_prev.jpg" alt=""/></li>
                        <li data-slide="1" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-2_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="2" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-1_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="3" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-2_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="4" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-1_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="5" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-2_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="6" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-1_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="7" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-2_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="8" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-1_prev.jpg"
                                                                                                   alt=""/></li>
                        <li data-slide="9" data-slider="#sliderid" class="b-islider__navitem"><img class="grayscale"
                                                                                                   src="images/content/inner-slide-2_prev.jpg"
                                                                                                   alt=""/></li>
                    </ul>
                </div>
                <div class="b-text">
                    <div class="b-tabs">
                        <ul class="b-tabs__header">
                            <li class="b-tabs__header-item current"><a class="b-tabs__header-link" href="#tab-id-1">Описание</a>
                            </li>
                            <li class="b-tabs__header-item"><a class="b-tabs__header-link" href="#tab-id-2">Содержание
                                работы</a></li>
                        </ul>
                        <div class="b-tabs__tab" id="tab-id-1" style="display:block;">
                            <p>По заказу ОАО "Вольскцемент", Holcim Group компания SEVERIN DEVELOPMENT выполняет функции
                                Технического заказчика и Управления строительством при реконструкции и модернизации
                                Вольского цементного завода.</p>

                            <p>На текущий момент предприятие эксплуатирует 5 вращающихся печей, работающих на природном
                                газе, изготавливающих цементную продукцию по мокрому способу. Общая расчетная
                                производительность по клинкеру составляет 7 200 т/сутки. Режим работы – круглосуточный в
                                4 смены. После модернизации на предприятии из основного оборудования останется 1
                                вращающаяся печь (производительность 1 600 т/сутки), работающая на природном газе по
                                мокрому способу и дополнится 1 вращающейся печью (производительность 4 500 т/сутки),
                                работающей на природном газе по полумокрому способу.</p>
                        </div>
                        <div class="b-tabs__tab" id="tab-id-2">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus amet at maiores
                                necessitatibus nihil nostrum odio officiis, quos sunt unde.</p>

                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus ad, cum debitis
                                dolor dolores dolorum ducimus eum excepturi explicabo fugiat modi nisi perferendis
                                quisquam repudiandae saepe sit, tenetur vero voluptatem voluptatibus! Ab at ducimus
                                eaque earum eligendi expedita, facilis incidunt itaque minus nihil omnis, optio pariatur
                                quibusdam repudiandae rerum sapiente sequi sit! Ab accusamus ad adipisci alias
                                architecto aspernatur, consectetur cumque delectus dolor earum harum id illum in
                                incidunt iusto laborum magnam modi mollitia necessitatibus nobis optio, perspiciatis
                                porro quam quia repellendus sit soluta veritatis vero, voluptas voluptates. Ad alias
                                assumenda commodi, culpa dolore dolorem eligendi esse et eum expedita facere harum, illo
                                iure magnam magni nam natus non officiis perspiciatis quae quaerat quam quas qui quia
                                quidem quo ratione reiciendis, repellendus sapiente soluta sunt suscipit vel veritatis.
                                Ab aliquid architecto consequatur cumque in quasi quidem ratione sequi</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@@include('blocks/_b-footer.html')