.b-feature{
    padding-top: em(20);
    &__title{
        color: #454545;
        font-family: $secondary__font;
        font-weight: 300;
        $font-size: 34;
        font-size: em($font-size);
        text-transform: uppercase;
        margin-bottom:em(60,$font-size);
    }
    &__item, &__table{
        margin-bottom: em(78);
    }
    &__table{
        table-layout: fixed;
        td{
            box-sizing: border-box;
            width: 32.10884%;
            padding-left: 1.83673%;
            &:first-child{
                padding-left: 0;
            }
        }
    }
    &__item-title{
        color: #f16521;
        font-family: $secondary__font;
        $font-size: 14;
        font-size: em(14);
        font-weight: 700;
        line-height:24/$font-size;
        text-transform: uppercase;
        margin-bottom: em(22, $font-size);
        .country{
            color: #898989;
            font-weight: 400;
            font-size: em(12, $font-size);
            display: block;
            text-transform: none;
            vertical-align: top;
            line-height: 1.2;
        }
    }
    &__item-icon{
        display: block;
        margin-bottom: em(30);
        img{
            display: block;
            margin:0 auto;
        }
    }
    &__item-content{
        p{
            color: #898989;
            $font-size: 12;
            font-size: em($font-size);
            font-style: italic;
            padding-bottom: em(18, $font-size);
        }
    }
}