.b-form{
    &__text, &__textarea, &__select{
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid #929292;
        box-sizing: border-box;
        display: block;
        width: 100%;
        color: #454545;
        font-family: "Arial";
        $font-size: 14;
        font-size: em($font-size);
        height: em(29, $font-size);
        padding: 0 em(5, $font-size);
        transition: box-shadow 0.3s ease;
        &:focus{
            box-shadow: 0 0 5px #0076a3;
        }
    }
    &__textarea{
        resize:none;
        height:auto;
        padding: em(5, 14) em(5, 14);
    }
    &__select{
        padding-top: em(3, 14);
        padding-bottom: em(3, 14);
    }
    &__label{
        color: #454545;
        $font-size: 14;
        font-size: em($font-size);
        display: inline-block;
        padding-top: em(4, $font-size);
    }
    &__table{
        width: 100%;
        margin-top: em(14);
        td{
            vertical-align: top;
            padding: 0 em(10) em(19);
            &:first-child{
                text-align: right;
                width:22%;
            }
            &:nth-child(3){
                width: 34%;
            }
        }
        .label{

        }
    }
    span.error{
        color: #ed135a;
        display: inline-block;
        $font-size: 12;
        font-size: em($font-size);
        padding:em(4, $font-size) 0;
        display: inline-block;
        font-style: italic;
    }
    &__capcha{
        float: left;
        display: block;
    }
    &__capcha-f{
        padding-left: em(130);
    }
    &__capcha-text{
        color: #888;
        $font-size: 12;
        font-size: em($font-size);
        font-style: italic;
        display: block;
        padding-top:em(5, $font-size);
    }
    &__ch-label{
        color: #888;
        $font-size:12;
        font-size: em($font-size);
        padding: em(8, $font-size) em(32, $font-size) 0 0;
        display: inline-block;
        input{
            display: inline-block;
            vertical-align: middle;
            margin-right: em(7, $font-size);
        }
        &_block{
            display: block;
            padding-right: 0;
        }
    }
    &__el{
        padding: 0 0 em(12);
        p{
            font-size: em(12);
        }
    }
}