.b-filter{
    padding: em(5) 0 em(42);
    &__item{
        display: inline-block;
        padding-left: em(20);
        &:first-child{
            padding-left: 0;
        }
    }
    &__item-text{
        color: #454545;
        $font-size: 14;
        font-size: em($font-size);
        display: inline-block;
        vertical-align: middle;
    }
    &__dropdown{
        display: inline-block;
        margin:0 em(10);
        vertical-align: middle;
        position: relative;
        cursor: default;
        border-radius: 2px;
        background-color: #fff;
        border: 1px solid #929292;
        box-sizing: border-box;
        padding-right: em(26);
        &:after{
            content:"";
            display: block;
            border-top: 5px solid $base__link-color;
            border-left: 4px solid transparent;
            border-right: 4px solid transparent;
            position: absolute;
            top:50%;
            right: em(12);
            margin-top: -3px;
        }
    }
    &__dropdown-text{
        color: #454545;
        $font-size: 14;
        font-size: em($font-size);
        padding: em(3, $font-size) 0 em(3, $font-size) em(13, $font-size);
        overflow: hidden;
    }
    &__dropdown-list{
        border-radius: 3px;
        background-color: #fff;
        box-shadow: 0 1px 5px rgba(0,0,0,.5);
        position: absolute;
        top:em(35);
        right: 0;
        width: 100%;
        box-sizing: border-box;
        padding: em(20);
        display: none;
    }
    &__dropdown_checkbox &__dropdown-list{
        width: em(230);
    }
    &__dropdown-item{
        color: $base__link-color;
        $font-size: 14;
        font-size: em($font-size);
        list-style: none;
        padding: em(2, $font-size) 0;
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &__dropdown-ta{
        display: block;
        width:24px;
        height: 9px;
        padding: 4px 4px 0 4px;
        position: absolute;
        top: -13px;
        right: -3px;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            width: 17px;
            height: 17px;
            background: #fff;
            position: absolute;
            top: 4px;
            left: 4px;
            transform: rotate(45deg);
            box-shadow: 0 0 3px rgba(0, 0, 0, .5);
        }
    }
}