.b-imenu{
    &__title{
        color: #f16521;
        font-size: em(18);
        font-weight: bold;
        letter-spacing: -0.5px;
    }
    &__price{
        color: #464646;
        $font-size: 14;
        font-size: em($font-size);
        padding: em(2, $font-size) 14px;
        font-weight: bold;
    }
    &__link{
        $font-size: 14;
        font-size: em($font-size);
        display:block;
        padding: em(1, $font-size) 14px;
    }
    li{
        list-style: none;
    }
    &__total{
        padding-top: em(7);
    }
    &__total-t{
        $font-size: 18;
        font-size: em($font-size);
        color: #f26522;
        font-weight: bold;
    }
    &__total-a{
        $font-size: 16;
        font-size: em($font-size);
        color: #555555;
        font-weight: bold;
    }
}
.b-isubmenu{
    border-top: 2px solid #c2c2c2;
    margin-top: em(10);
    &__title{
        color: #898989;
        font-size: em(14);
        font-weight: bold;
    }
    &__item{
        padding: em(15) 0 em(10);
        border-bottom: 1px solid #c2c2c2;
    }    
}