.b-item{
    &__title{
        color: #f16521;
        font-family: $secondary__font;
        $font-size: 34;
        font-size: em($font-size);
        line-height: 32/$font-size;
        padding: 0 0 em(21, $font-size);
        img{
            max-height: em(32,$font-size);
            vertical-align: top;
            margin-left: em(25, $font-size);
        }
    }
    &__main-c{
        margin-top: em(48);
    }
    &__d-line{
        background: #fdf6f3;
        padding: em(28) 0;
        margin-bottom: em(36);
        li{
            $font-size: 12;
            font-size: em($font-size);
            color: #898989;
            display: inline-block;
            padding-right: em(2, $font-size);
            line-height: 1;
            strong{
                font-size: em(14, $font-size);
            }
            &:after{
                content:"|";
                display: inline-block;
                margin-left: 0.4em;
                vertical-align: middle;
                margin-top: -3px;
            }
            &:last-child:after{
                display: none;
            }
        }
    }
    &__photos{
        position: relative;
        overflow: hidden;
        img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
        .slides > li{
            display: none;
        }
        .flex-prev, .flex-next{
            display: block;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -30px;
            z-index: 10;
            transition:background-color 0.3s ease;
            background: rgba(255,255,255,.8) url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiIFsNCgk8IUVOVElUWSBuc19mbG93cyAiaHR0cDovL25zLmFkb2JlLmNvbS9GbG93cy8xLjAvIj4NCl0+DQo8c3ZnIHZlcnNpb249IjEuMSINCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyINCgkgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyMXB4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCAyMSA0MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGRlZnM+DQo8L2RlZnM+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzg1ODU4NSIgZD0iTTIxLDM4LjYxMUwyLjcyNywyMEwyMSwxLjM4OUwxOS42MzcsMEwwLDIwbDE5LjYzNywyMEwyMSwzOC42MTF6Ig0KCS8+DQo8L3N2Zz4NCg==) no-repeat center center;
            &:hover{
                background-color: rgba(255, 255, 255, 1);
            }
        }
        .flex-next{
            left: auto;
            right: 0;
            background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNS4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAgLS0+DQo8IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiIFsNCgk8IUVOVElUWSBuc19mbG93cyAiaHR0cDovL25zLmFkb2JlLmNvbS9GbG93cy8xLjAvIj4NCl0+DQo8c3ZnIHZlcnNpb249IjEuMSINCgkgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6YT0iaHR0cDovL25zLmFkb2JlLmNvbS9BZG9iZVNWR1ZpZXdlckV4dGVuc2lvbnMvMy4wLyINCgkgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyMXB4IiBoZWlnaHQ9IjQwcHgiIHZpZXdCb3g9IjAgMCAyMSA0MCIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjEgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPGRlZnM+DQo8L2RlZnM+DQo8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZmlsbD0iIzg1ODU4NSIgZD0iTTAsMS4zODlMMTguMjczLDIwTDAsMzguNjExTDEuMzYzLDQwTDIxLDIwTDEuMzYzLDBMMCwxLjM4OXoiLz4NCjwvc3ZnPg0K);
        }
        .flex-direction-nav li{
            list-style:none;
        }
    }
    &__price-wrap{
        color: #f16521;
        font-family: $secondary__font;
        $font-size: 44;
        font-size: em($font-size);
        font-weight: 600;
        .rub{
            font-size: em(32, $font-size);
            color: #555555;
            font-weight: 400;
        }
    }
    &__buyit{
        padding-top: em(26);
    }
    &__buyit-link{
        display: inline-block;
        line-height: 1;
        font-size:em(14);
        font-weight: bold;
        border-bottom: 1px dotted $base__link-color;
        vertical-align: middle;
        margin: 0 em(17, 14) 0 em(19, 14);
        text-decoration: none;
        &:hover{
            border-bottom-color: transparent;
        }
    }
    &__buyit-btn{
        padding-left: 6px;
        padding-right: 6px;
    }
    &__buyit-compare{
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYmIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkzJSIgc3RvcC1jb2xvcj0iI2ZmYTEwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk2JSIgc3RvcC1jb2xvcj0iI2I1ODA0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNTgwNDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+) repeat-x;
        background-size: 100% 100%;
        line-height: $base__line-height;
        display: inline-block;
        border-radius: 3px;
        $font-size: 12;
        color: #fff;
        text-decoration: none;
        font-size: em($font-size);
        padding: em(6, $font-size) em(17, $font-size);
        border: 0;
        cursor: pointer;
        &:hover{
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAdCAIAAADkY5E+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAClJREFUeNpi2NrgyMQABP8XMjAxMKJhBijNhEWOCSqPSw5ZP6qZAAEGAGYWA2fLlVEqAAAAAElFTkSuQmCC);
        }
    }
}