.b-paging{
    text-align: center;
    &__title{
        color: #545454;
        $font-size: 14;
        font-size: em($font-size);
        display: inline-block;
        padding-right: em(10, $font-size);
    }
    &__item{
        display: inline-block;
        color: #545454;
        $font-size: 14;
        font-size: em($font-size);
        line-height:33/$font-size;
        text-align: center;
        padding: 0 em(5, $font-size);
        min-width: em(23, $font-size);
        text-decoration: none;
        transition:background 0.3s ease, color 0.3s ease;
        &:hover{
            color: #fff;
            background: $orange;
        }
        &_current{
            color: #fff;
            background: $orange;
            cursor: default;
        }
    }
}