.b-page{
    padding-bottom: em(5);
    &__title{
        color: #f16521;
        font-family: $secondary__font;
        $font-size: 34;
        font-size: em($font-size);
        font-weight: 400;
        padding: 0 0 em(27, $font-size);
        line-height: 38/$font-size;
    }
    img{
        max-width: 100%;
    }
}