.b-services{
    &__title{
        color: #f16521;
        font-family: $secondary__font;
        $font-size: 35;
        font-size: em($font-size);
        text-align: center;
        padding-bottom: em(33, $font-size);
        padding-top: em(100, $font-size);
    }
    &__buy{
        text-align: center;
    }
    &__image{
        display: none;
        margin: em(30) auto em(65);
        max-width: 100%;
    }
    &__item{
        padding-left: em(75);
        padding-bottom: em(20);
        cursor: pointer;
        position: relative;
    }
    .current &__item-title{
        color: #636363;
    }
    .current &__item-content{
        p{
            color: #636363;
        }
    }
    &__item-title{
        color: $base__link-color;
        font-family: $secondary__font;
        $font-size: 24;
        font-size: em($font-size);
        font-weight: 300;
    }
    &__item-content{
        padding: em(16) 0 0;
        p{
            color: $base__link-color;
            $font-size: 14;
            font-size: em($font-size);
            line-height: 24/$font-size;
        }
    }
    &__item-icon{
        font-size: em(55);
        position: absolute;
        left: 0;
        top: 0;
    }
}
.current{
    .icon-21 {
        background-position: 0% 11.4%;
    }
    .icon-22 {
        background-position: 11.5% 11.4%;
    }
    .icon-23 {
        background-position: 22.5% 11.4%;
    }
    .icon-24 {
        background-position: 33.5% 11.4%;
    }
    .icon-25 {
        background-position: 44.5% 11.4%;
    }
    .icon-26 {
        background-position: 55.5% 11.4%;
    }
    .icon-27 {
        background-position: 66.5% 11.4%;
    }
}
