.b-tabs{
    &__header{
        border-bottom:1px solid #f16521;
        margin-bottom: em(20);
        padding: 0!important;
    }
    &__header-item{
        display: inline-block;
        margin-right: em(24);
        padding: 0!important;
        font-size: $base__font-size*1px!important;
        &:last-child{
            margin-right: 0;
        }
        &:before{
            display: none!important;
        }
    }
    &__header-link{
        text-decoration: none;
        display: block;
        $font-size: 14;
        font-size: em($font-size);
        font-weight: bold;
        padding: em(7, $font-size) em(6, $font-size);
        position: relative;

    }
    .current > &__header-link{
        color: #f16521;
        &:after{
            content:"";
            display: block;
            height:4px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            background: #f16521;
        }
    }
    &__tab{
        display: none;
        padding-bottom: em(35);
    }
}