.b-wmenu{
    padding-left: em(12);
    &__item{
        list-style: none;
        padding: em(8) 0;
        &_current > a{
            color: $orange;
        }
        > a{
            font-size: em(14);
            &:hover{
                color: $orange;
            }
        }
    }
    &__sub{
        padding: em(11) 0 0 em(20);
    }
}