.b-widget{
    padding-top: em(17);
    &__title{
        color: $orange;
        $font-size: 18;
        font-size: em($font-size);
        font-weight: bold;
        padding: 0 0 em(8, $font-size);
        &_large{
            color: $base__link-color;
            font-family: $secondary__font;
            font-weight: 300;
            font-size: em(34);
        }
    }
    &_item{
        p{
            $font-size: 12;
            font-size: em($font-size);
            line-height: 24/$font-size;
            padding: em(5, $font-size) 0;
        }
    }
    &__news{
        padding-bottom: em(22);
    }
    &__news-time{
        display: block;
        text-transform: uppercase;
        color: #898989;
        padding: em(6) 0;
    }
    &__news-title{
        font-size: em(12);
        text-decoration: none;
        display: block;
        line-height: 2;
        &:hover{
            text-decoration: underline;
            color: #f26522;
        }
    }
}