$base__font: Arial, Helvetica, sans-serif;
$base__color: #636363;
$base__font-size: 10;
$base__line-height: 1.5;
$base__background: #fff;
$base__link-color: #0076a3;
$secondary__font:'Open Sans', sans-serif;
$orange: #f16521;

@function em($px, $base: $base__font-size){
    @return ($px / $base) *1em;
}

/*grid*/
$cols: 12;
$gutter: 1.8367346938776%;

$one_col: (100% - ($gutter * ($cols - 1))) / $cols;

@mixin cols($num) {
    width: ($one_col * $num) + ($gutter * ($num - 1));
}
@mixin offset($num, $first) {
    @if $first == true{
        margin-left: ($one_col * $num) + ($gutter * $num);
        } @else {
        margin-left: ($one_col * $num) + ($gutter * ($num + 1));
    }
    
}
@function grayscale($value) {
    @return #{ "grayscale(" + $value + ")"};
}