.cl-popup{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,.5);
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 200;
    display: none;
    &__a {
        display: block;
        width:24px;
        height: 9px;
        padding: 4px 4px 0 4px;
        position: absolute;
        top: -13px;
        left: 27px;
        overflow: hidden;
        &:before {
            content: "";
            display: block;
            width: 17px;
            height: 17px;
            background: #fff;
            position: absolute;
            top: 4px;
            left: 4px;
            transform: rotate(45deg);
            z-index: -1;
            box-shadow: 0 0 3px rgba(0, 0, 0, .5);
        }
    }
    &.top &__a{
        bottom: -13px;
        top:auto;
        &:before {
            bottom: 4px;
            top:auto;
        }
    }
}