[class*="icon-"] {
    background-image: url(../images/sprite.svg);
    background-repeat: no-repeat;
    background-size: auto 1000%;
    background-position: 0% 0%;
    display: inline-block;
    width: 1em;
    height: 1em;
}

.icon-1 {
    background-position: 0% 0%;
}
.icon-2 {
    background-position: 11% 0;
}
.icon-3 {
    background-position: 22% 0;
}
.icon-4 {
    background-position: 33% 0;
}
.icon-5 {
    background-position: 44% 0;
}
.icon-6 {
    background-position: 55.5% 0;
}
.icon-7 {
    background-position: 66.5% 0.5%;
}

.icon-8 {
    background-position: 77.5% 0.5%;
}
.icon-9 {
    background-position: 88.5% 0.5%;
}
.icon-10 {
    background-position: 99.5% 0.5%;
}
.icon-11 {
    background-position: 0% 11.5%;
}
.icon-12 {
    background-position: 11.5% 11.5%;
}
.icon-13 {
    background-position: 22.5% 11.5%;
}
.icon-14 {
    background-position: 33.5% 11.5%;
}
.icon-15 {
    background-position: 44.5% 11.5%;
}
.icon-16 {
    background-position: 55.5% 11.5%;
}
.icon-17 {
    background-position: 66.5% 11.5%;
}
.icon-21 {
    background-position: 0% 22.5%;
}
.icon-22 {
    background-position: 11.5% 22.5%;
}
.icon-23 {
    background-position: 22.5% 22.5%;
}
.icon-24 {
    background-position: 33.5% 22.5%;
}
.icon-25 {
    background-position: 44.5% 22.5%;
}
.icon-26 {
    background-position: 55.5% 22.5%;
}
.icon-27 {
    background-position: 66.5% 22.5%;
}